
.hero {
    margin-top: 22vh;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 70vh;
        object-fit: cover;
        width:100vw;
    }
    
    h4 {
        position: absolute;
        top: 230px;
        z-index: 2;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h1 {
        position: absolute;
        top: 280px;
        margin-top: 5px;
        z-index: 2;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}
.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.184);
    z-index: 1;
}


// bottles page

.hero-bottles {
    margin-top: 23vh;
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffbfb;
    a {
        position: absolute;
        color: gray;
        font-size: 12px;
        top: 100px;
        left: 220px;
        z-index: 2;
    }
    img {
        position: absolute;
        z-index: 2;
        left: 1080px;
        top: 45px;
    }
    h2 {
        margin-bottom: 10px;
    }
    p {
        margin-top: 0;
        width: 50vw;
        text-align: center;
        line-height: 1.5;
    }
}
